src/main/resources/FormOwnerExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_row">
		<xs:sequence>
			<xs:element ref="column" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_questions" mixed="true">
		<xs:sequence>
			<xs:element ref="question" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_question">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="answer"/>
		</xs:sequence>
		<xs:attribute name="sn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CTAccrualCoopGroupRural"/>
					<xs:enumeration value="CTAccrualCoopGroupUnderinsured"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="65aab157-b460-45ec-8dbd-302c7b2109ba"/>
					<xs:enumeration value="e8049140-f715-4850-a817-42fddb0ac8c2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_owner">
		<xs:sequence>
			<xs:element ref="questions"/>
			<xs:element ref="complex-tables"/>
			<xs:element ref="tables"/>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_form">
		<xs:sequence>
			<xs:element ref="owner" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="revision" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Clinical Trials - Accruals"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="03b7d57b-a18a-4a89-8633-21f5b60376ed"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_complex-tables" mixed="true">
		<xs:sequence>
			<xs:element ref="complex-table" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_complex-table">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CTSelfRepAccrualTable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="515cce65-1537-4d02-9b7e-b1e26b28710d"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_column">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="answer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" use="required" type="xs:string"/>
		<xs:attribute name="isIdentifying" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_answer">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="text" use="required" type="xs:string"/>
				<xs:attribute name="id" use="required" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="text" type="xs:string"/>
	<xs:element name="tables" type="xs:string"/>
	<xs:element name="row" type="T_row"/>
	<xs:element name="questions" type="T_questions"/>
	<xs:element name="question" type="T_question"/>
	<xs:element name="owner" type="T_owner"/>
	<xs:element name="form" type="T_form"/>
	<xs:element name="complex-tables" type="T_complex-tables"/>
	<xs:element name="complex-table" type="T_complex-table"/>
	<xs:element name="column" type="T_column"/>
	<xs:element name="answer" type="T_answer"/>
</xs:schema>
